certifi
chardet
Click
clickclick
connexion
flake8
Flask
idna
inflection
itsdangerous
Jinja2
jsonschema
MarkupSafe
mccabe
pycodestyle
pyflakes
PyYAML
requests
six
swagger-spec-validator
urllib3
Werkzeug
youtube-dl
